/* styles.css */

/* Estilos de encabezado */
header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

/* Estilos para el nombre de la tienda */
.navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

/* Productos en Venta */
.productos-venta {
    text-align: center;
}

.productos-venta h2 {
    font-size: 2rem;
    color: #343a40;
}

/* Registro */
.registro {
    max-width: 600px;
}

.formulario {
    background-color: #343a40;
    padding: 20px;
    color: white;
    border-radius: 8px;
}

/* Footer */
footer {
    font-size: 0.9rem;
}

